<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Histórico Cirúrgico</title>
</head>
<body>
    <div class="container">
        <h1>Histórico Cirúrgico</h1>
        <p>Você já passou por alguma cirurgia?</p>
        <form method="post">
            <textarea name="historico_cirurgico" placeholder="Descreva o histórico cirúrgico">{{ historico_cirurgico }}</textarea>
            <button type="submit">Próximo</button>
        </form>
    </div>
</body>
</html>
