<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Histórico Familiar</title>
</head>
<body>
    <div class="container">
        <h1>Histórico Familiar</h1>
        <p>Algum parente próximo tem ou teve alguma doença crônica?</p>
        <form method="post">
            <textarea name="historico_familiar" placeholder="Descreva o histórico familiar">{{ historico_familiar }}</textarea>
            <button type="submit">Próximo</button>
        </form>
    </div>
</body>
</html>
