<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <h1>Bem-vindo</h1>
        <p>Escolha uma opção:</p>
        <form method="post" action="/escolha_perfil">
            <button type="submit" name="perfil" value="doutor">Doutor</button>
            <button type="submit" name="perfil" value="paciente">Paciente</button>
        </form>
    </div>
</body>
</html>