<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Medicamentos</title>
</head>
<body>
    <div class="container">
        <h1>Medicamentos</h1>
        <p>Você faz uso de algum medicamento regularmente?</p>
        <form method="post">
            <textarea name="medicamentos" placeholder="Descreva os medicamentos">{{ medicamentos }}</textarea>
            <button type="submit">Próximo</button>
        </form>
    </div>
</body>
</html>
