<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Nome, Idade e Sexo</title>
</head>
<body>
    <div class="container">
        <h1>Identificação</h1>
        <form method="post">
            <input type="text" name="nome" placeholder="Nome" value="{{ nome }}">
            <input type="number" name="idade" placeholder="Idade" value="{{ idade }}">
            <select name="sexo">
                <option value="M" {% if sexo == 'M' %}selected{% endif %}>Masculino</option>
                <option value="F" {% if sexo == 'F' %}selected{% endif %}>Feminino</option>
                <option value="NB" {% if sexo == 'NB' %}selected{% endif %}>Não binário</option>
            </select>
            <button type="submit">Próximo</button>
        </form>
    </div>
</body>
</html>
