<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Profissão, Estado Civil e Endereço</title>
</head>
<body>
    <div class="container">
        <h1>Identificação</h1>
        <form method="post">
            <input type="text" name="profissao" placeholder="Profissão" value="{{ profissao }}">
            <input type="text" name="estado_civil" placeholder="Estado Civil" value="{{ estado_civil }}">
            <input type="text" name="endereco" placeholder="Endereço" value="{{ endereco }}">
            <button type="submit">Próximo</button>
        </form>
    </div>
</body>
</html>